<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Halima Collection | AddCart</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">

</head>
<body>
    <div>
        <nav>
            <div class="site-title">
                <a href="/"><img src="/loggo.png" alt="" width="160"></a>
            </div>
            <div class="hamburger-menu">
                <i class="fas fa-bars"></i> <!-- Font Awesome hamburger icon -->
            </div>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/products/womensproducts">Women</a></li>
                <li><a href="/products/mensproducts">Men</a></li>
                <li><a href="/products/sneakers">Sneakers</a></li>
                <li><a href="/products/accessories">Accessories</a></li>
                <li><a href="/products/search">Search></a></li>

            </ul>
        </nav>
            </div>
            <div class="addcart-product-item">
                    
                <% product.images.forEach(image => { %>
                    <img src="<%= image %>" alt="<%= product.name %>" class="accessory-product-image">
                <% }) %>
            <h3 class="accessory-product-name"><%= product.name %></h3>
            <p class="accessory-product-price">Ksh <%= product.price %></p>
            <p class="accessory-product-price"> <%= product.description %></p>
            <p class="accessory-product-price"> <%= product.stock %> available</p>
            <input type="number" id="quantity" name="quantity" min="1" max="<%= product.stock %>" value="1">
            <button onclick="addToCart('<%= product._id %>')">Add to Cart</button>
            </div>
            <div>
                <a href="/cart/view_cart">
                    <button class="view-cart-btn">View Cart</button>
                </a>
            </div>
            <script>
                 document.querySelector('.hamburger-menu').addEventListener('click', function() {
        document.querySelector('.nav-links').classList.toggle('show');
    }); 
              
    async function addToCart(productId) {
        const userId = '672bb1a085c63c7a27657810';
        const quantity = document.getElementById('quantity').value;

        try {
            const response = await fetch('/cart/addcart', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ userId, productId, quantity: Number(quantity) })
            });

            const data = await response.json();
            if (response.ok) {
                alert("Product added to cart successfully!");
            } else {
                alert("Error: " + data.message);
            }
        } catch (error) {
            console.error("Error adding product to cart:", error);
        }
    }

    
       
    
</script>

            
</body>
</html>